#ow {
    text-align: center;
    background-color: rgb(160, 36, 36);
    color: aliceblue;
}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
    
}
#aa {
    text-align: center;
    background-color: rgb(247, 84, 84);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
